<div class="main">
    <h2>Property Search</h2>
        <label for="streetaddress"> </label>
        <input class="space1" type="text" id="streetaddress" name="streetaddress" value="street address" [(ngModel)]="searchObject.streetaddress">
        <label for="minbeds" class="space1">Min Beds : </label>
        <select id="minbeds" name="minbeds" class="space1" [(ngModel)]="searchObject.minbeds">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
         </select>
         <label for="minbeds" class="space1">Max Beds : </label>
         <select id="maxbeds" name="maxbeds" class="space1" [(ngModel)]="searchObject.maxbeds">
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
           </select>
           <label for="minprice" class="space1">Min Price : </label>
           <select id="minprice" name="minprice" class="space1" [(ngModel)]="searchObject.minprice">
              <option value="100000">$100,000</option>
              <option value="200000">$200,000</option>
              <option value="300000">$300,000</option>
             </select>
             <label for="maxprice" class="space1">Max Price : </label>
             <select id="maxprice" name="maxprice" class="space1" [(ngModel)]="searchObject.maxprice">
                <option value="400000">$400,000</option>
                <option value="500000">$500,000</option>
                <option value="600000">$600,000</option>
                <option value="700000">$700,000</option>
               </select>
        <label for="forsale" class="space1">For Sale : </label>
        <select id="For Sale" name="forsale" class="space1" [(ngModel)]="searchObject.forsale">
          <option value="forsale">For Sale</option>
          <option value="forrent">For Rent</option>
          <option value="sold">Sold</option>
         </select>
         <button (click)="search()">Search</button>
        <h3>Search Results</h3>
        <div id="all-listings">
          <a *ngFor="let result of results" >
              <div class="desc">
                  <div class="image">
                      <img *ngIf="result.images[0]" src="../assets/images/{{result.images[0].imageFilePath}}.webp" alt="property picture" width="300" height="300">
                  </div>
                  <ul>
                      <li>{{result.price | currency}}</li>
                      <li>{{result.bedrooms}} Bed || {{result.bathrooms}} Bath</li>
                      <li>{{result.address}}</li>
                      <li>{{result.city}}, {{result.state}} {{result.zip}}</li>
                  </ul>
              </div>
          </a>
      </div>
</div>
