hr{
    width: 95%;
}
.image-gallery {
    /* Mobile first */
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    border:1px solid #FAF9F9;
    border-radius: 5px;
    margin:0;
    padding:1rem;
    height:35%;
}
.image-item img {
    min-width: 10rem;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
}
agm-map {
    height: 300px;
}
#details{
    border:1px solid #FAF9F9;
    border-radius: 5px;
    color: black;
    list-style-type: none;
}
button {
    /* display: inline; */
    background-color: #89B0AE;
    color: #FAF9F9;
    padding: 10px 25px;
    /* width: auto; */
    /* height:80px; */
    text-align: center;
    font-size: 1.4rem;
    border: solid 3px #555B6E;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}
button:hover{
    background-color: #BEE3DB;
    color: #89B0AE;
    border-color: #FAF9F9;
}
#current-price{
    font-size: 5rem;
    color: #555B6E;
}