<div id="collection-content">

    <div id="pageTitle" ><h1>Collections</h1></div>

    <div id="all-collections">
        <!-- <a *ngFor="let collection of collections" [routerLink]="['/collection', collection.id]">
            <div class="desc" routerLinkActive="active">
                <div class="image">
                    <img *ngIf="collection.image" src="../assets/images/{{collection.image.imageFilePath}}.webp" alt="collection thumbnail"> 
                </div>
                <ul>
                    <li>{{collection.name}}</li>
                    <li>{{collection.length}}</li><br>
                    <li>{{collection.updated | date}}</li>
                </ul>
            </div>
        </a> -->
        <div class="desc" routerLinkActive="active">
            <ul>
                <li>Collection for the Smiths</li>
                <li>Collection items: 3</li><br>
                <li>Last Updated: 2/25/2023</li>
            </ul>
        </div>  
        <div class="desc" routerLinkActive="active">
            <ul>
                <li>Collection Name 2</li>
                <li>Collection items: 1</li><br>
                <li>Last Updated: 1/1/2023</li>
            </ul>
        </div>
    </div>
    <div id="collection-detail">
        <router-outlet></router-outlet>
    </div>
</div>