<div id="collection-content">

    <div id="pageTitle" ><h1>Collections</h1></div>

    <div id="all-collections">
        <a *ngFor="let collection of collections" [routerLink]="['/collection', collection.id]">
            <div class="desc" routerLinkActive="active">
                <ul>
                    <li>{{collection.name}}</li>
                    <li>Properties in collection: {{collection.listings.length}}</li><br>
                    <li>Collection updated: {{collection.lastUpdate | date}}</li>
                </ul>
            </div>
        </a>
        <button routerLink="/collection/add">Add New Collection</button>
    </div>
    <div id="collection-detail">
        <router-outlet></router-outlet>
    </div>
</div>