<h2>{{collection.name}}</h2>
<textarea name="collectionNote" id="collectionNote" readonly>{{collection.note}}</textarea>
<button routerLink="collection/:id/edit">Edit</button>
<button routerLink="collection/:id">Save</button>
<hr>

<div class="collection-listing-card" *ngFor="let listing of collection.listings">
    <a *ngIf="listing.images[0].imageFilePath" href="../assets/images/{{listing.images[0].imageFilePath}}.webp" target="_blank">
        <img *ngIf="listing.images[0].imageFilePath" src="../assets/images/{{listing.images[0].imageFilePath}}.webp" alt="property image"/>
    </a>
    <ul>
        <li>{{listing.price | currency}} - {{listing.status}}</li>
        <li>{{listing.address}}, {{listing.city}}, {{listing.state}} {{listing.zip}}</li>
    </ul>
    <button>x</button>
</div>

<button routerLink="collection/:id/listings">Add Listings</button>
<button routerLink="collection/:id">Done</button>