<h2>Collection for the Smiths</h2>
<textarea name="collectionNote" id="collectionNote" readonly></textarea>
<hr>

<div class="collection-listing-card">
    <img src="../assets/images/73fd5c6d7839f8518a4a998ce94aa2f0.webp" alt="property thumbnail">
    <ul>
        <li>$230,000 - For Sale</li>
        <li>123 Main St., Kansas City, MO 64109</li>
    </ul>
    <button>x</button>
</div>
<div class="collection-listing-card">
    <img src="../assets/images/73fd5c6d7839f8518a4a998ce94aa2f0.webp" alt="property thumbnail">
    <ul>
        <li>$230,000 - For Sale</li>
        <li>123 Main St., Kansas City, MO 64109</li>
    </ul>
    <button>x</button>
</div>
<div class="collection-listing-card">
    <img src="../assets/images/73fd5c6d7839f8518a4a998ce94aa2f0.webp" alt="property thumbnail">
    <ul>
        <li>$230,000 - For Sale</li>
        <li>123 Main St., Kansas City, MO 64109</li>
    </ul>
    <button>x</button>
</div>