<div class=header><h1>Property Listings</h1></div>
<div class="gallery">
<div class="row">
    <div class="coloumn">
<div *ngFor="let listing of listings">
    <a target="_blank" href="../assets/pexels-photo-2724749.webp">
       <img src="../assets/pexels-photo-2724749.webp" alt = "property pics" width="175px" height="175px">
       
    </a> 
       <div class="desc"><span style="font-size:20px;">${{listing.price}}</span><br> 
        {{listing.bedrooms}} bedrooms || {{listing.bathrooms}} bathrooms<br>
        {{listing.address}}<br>
     {{listing.city}} {{listing.state}} {{listing.zip}}<br>  
     {{listing.images[0].imageFilePath}}<br>
       </div>
       <img src={{listing.images[0].imageFilePath}} alt = "property pics" width="175px" height="175px">
</div>
</div>
</div>
</div>


