<div id="listing-content">

    <div id="pageTitle" ><h1>Property Listings</h1></div>

    <div id="all-listings">
        <a *ngFor="let listing of listings" [routerLink]="['/listings', listing.id]">
            <div class="desc" routerLinkActive="active">
                <div class="image">
                    <img *ngIf="listing.images[0]" src="../assets/images/{{listing.images[0].imageFilePath}}.webp" alt="property picture"> 
                </div>
                <ul>
                    <!-- <li>Home ID: {{listing.id}}</li> -->
                    <li>{{listing.price | currency}}</li>
                    <li>{{listing.bedrooms}} Bed || {{listing.bathrooms}} Bath</li><br>
                    <li>{{listing.address}}</li>
                    <li>{{listing.city}}, {{listing.state}} {{listing.zip}}</li>
                </ul>
            </div>
        </a>
    </div>
    <div id="listing-detail">
        <router-outlet></router-outlet>
    </div>
</div>