<p>listing-form works!</p>
<form  #listingForm="ngForm" (ngSubmit)="onAddListing(listingForm)">
    <p>Add/Edit Property</p>
    <fieldset>
    <legend>Address: </legend>
    <input type="text" ngModel id="address" name="address" placeholder="Street Address">
    <input type="text" ngModel id="city" name="city" placeholder="City">
    <input type="text" ngModel id="state" name="state" placeholder="State">
    <input type="text" ngModel id="zip" name="zip" placeholder="Zip Code">
    </fieldset>
    <fieldset>
        <legend>Home Features: </legend>
        <input type="text" ngModel id="square_footage" name="squareFootage" placeholder="Square Footage">
        <input type="number" ngModel id="bathrooms" name="bathrooms" placeholder="Number of Bathrooms">
        <input type="number" ngModel id="bedrooms" name="bedrooms"placeholder="Number of Bedrooms">
        <input type="checkbox" ngModel id="central_cooling" name="centralCooling" value="TRUE">
        <label for="central_cooling">Central AC </label>
        <input type="checkbox" ngModel id="central_heating" name="centralHeating" value="TRUE">
        <label for="central_heating">Central heating </label>
        <input type="checkbox" ngModel id="garage" name="garage" value="TRUE">
        <label for="garage">Garage </label>
        <input type="text" ngModel id="school_area" name="schoolArea" placeholder="School Area">
    </fieldset>
    <label for="status">Status: </label>
    <select name="status" ngModel id="status" name="status">
        <option>For Sale</option>
        <option>Pending</option>
        <option>Under Contract</option>
        <option>Sold</option>
    </select>
    <label for="price">Price: </label>
    <input type="text" id="price" ngModel name="price">
    <!-- <label for="realtor_id">Realtor ID: </label>
    <input type="text" id="realtor_id" ngModel name="realtor_id"> -->
    <input type="submit" value="Submit">
</form>