<div id="register-container">
    
    <form  #userRegisterForm="ngForm" (ngSubmit)="onUserRegister(userRegisterForm)">
    <div id="create-account">CREATE AN ACCOUNT</div>

<label for="username">Username</label>
<input 
    name="username" 
    required 
    ngModel
    #username="ngModel" 
    id="username" 
    type="text" 
    class="form-control"
    placeholder="Username">

<br>


<label for="password">Password</label>
<input 
    name="password" 
    required 
    ngModel
    #password="ngModel" 
    id="password" 
    type="password" 
    class="form-control"
    placeholder="Password">

<br>

<label for="verifyPassword">Verify Password</label>
<input 
name="verifyPassword" 
    required 
    ngModel
    #verifyPassword="ngModel" 
    id="verifyPassword" 
    type="password" 
    class="form-control"
    placeholder="Verify Password">

<br>

<input type="submit" value="Submit" [disabled]="userRegisterForm.invalid">
</form>
</div>