form{
    background-color: #89B0AE;
    /* height:60vh; */
    padding:2rem;
    margin:1rem;

}
input{
    font-size: 1.4rem;
}
input,textarea{
    margin:1rem;
    width:50vw;
    height:10vh;
}
textarea{
    height:20vh;
}
label{
    font-size: 2rem;
}
button {
    /* display: inline; */
    background-color: #89B0AE;
    color: #FAF9F9;
    padding: 10px 25px;
    /* width: auto; */
    /* height:80px; */
    text-align: center;
    font-size: 1.4rem;
    border: solid 3px #555B6E;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}
button:hover{
    background-color: #BEE3DB;
    color: #89B0AE;
    border-color: #FAF9F9;
}
